@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}
:root {
    --green: #FF9C00;
    --hover-green: #ffac27;
    --white: #ffffff;
    --grey: #282828;
    --light-grey: #DCDCDC;
    --tab-green: #FFE0AF;
    --light-green: #B3F594;
    --red: #DD3A3A;
}
.wrapper{
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  background-size: cover;
  font-family: sans-serif;
  background-image: url("images/bg.png");
}
.btn{
    background-color: var(--green);
    color: var(--white);
    border: 2px solid var(--green);
    height: 40px;
    width: 100%;
    border-radius: 5px;
}
.btn:hover {
    background-color: var(--hover-green);
    color: var(--white);
    border: 2px solid var(--hover-green);

}
.primary {
    background-color: var(--green);
    border: 2px solid var(--green);
    color: var(--white);
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  padding: 2.5rem;
  box-sizing: border-box;
  /* border: 1px solid #dadce0; */
  -webkit-border-radius: 8px;
  border-radius: 8px;

}

.box h2 {
  margin: 0px 0 -0.125rem;
  padding: 0;
  color: #fff;
  text-align: center;
  color: #202124;
  font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 15px;
}

.box p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .1px;
  line-height: 1.5;
  margin-bottom: 25px;
  text-align: center;
}

.box .inputBox {
  position: relative;
}

.box .inputBox input {
  width: 93%;
  padding: 0.625rem 10px;
  font-size: 1rem;
  letter-spacing: 0.062rem;
  margin-bottom: 1.875rem;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 4px;
  
}

.box .inputBox label {
  position: absolute;
  top: 0;
  left: 10px;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: grey;
  pointer-events: none;
  transition: 0.5s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label,
.box .inputBox input:not([value=""]) ~ label {
  top: -1.75rem;
  left: 0px;
  color: var(--green);
  font-size: 0.75rem;
  /*background-color: white;*/
  /*height: 5px;*/
  padding-left: 5px;
  padding-right: 5px;
}
.box .inputBox input:focus {
  outline: none;
  border: 2px solid var(--green);
}
.box input[type="submit"] {
  box-sizing: border-box;
  position: absolute;
  height: 45px;
  background: #FF9C00;
  border: 1px solid #FF9C00;
  border-radius: 10px;
  width: 75%;
}

.box input[type="submit"]:hover {
  background-color: #287ae6;
  box-shadow: 0 1px 1px 0 rgba(66,133,244,0.45), 0 1px 3px 1px rgba(66,133,244,0.3);
}




.modal-confirm {		
	color: #434e65;
	width: 525px;
}
.modal-confirm .modal-content {
	padding: 20px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
	text-align: center;
	margin: -20px -20px 0;
	border-radius: 5px 5px 0 0;
	padding: 35px;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 36px;
	margin: 10px 0;
}
.modal-confirm .form-control, .modal-confirm .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.modal-confirm .close {
	position: absolute;
	top: 15px;
	right: 15px;
	color: #fff;
	text-shadow: none;
	opacity: 0.5;
}
.modal-confirm .close:hover {
	opacity: 0.8;
}
.modal-confirm .icon-box {
	color: #f00;		
	width: 95px;
	height: 95px;
	display: inline-block;
	border-radius: 50%;
	z-index: 9;
	border: 5px solid #f00;
	padding: 15px;
	text-align: center;
}
.modal-confirm .icon-box i {
	font-size: 58px;
	margin: -2px 0 0 -2px;
}
.modal-confirm.modal-dialog {
	margin-top: 80px;
}
.modal-confirm .btn, .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #FF9C00 !important;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border-radius: 30px;
	margin-top: 10px;
	padding: 6px 20px;
	min-width: 150px;
	border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
	background: #FF9C00 !important;
	outline: none;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}


.modal-confirm .icon-box1 {
	color: rgb(0, 255, 42);		
	width: 95px;
	height: 95px;
	display: inline-block;
	border-radius: 50%;
	z-index: 9;
	border: 5px solid rgb(0, 255, 42);
	padding: 15px;
	text-align: center;
}
.modal-confirm .icon-box1 i {
	font-size: 58px;
	margin: -2px 0 0 -2px;
}

.t-feild {
    width: 100% !important;
    height: 45px;
    padding: 0px 14px;
    background: rgba(255, 255, 255, 0.55);
    border: 1px solid #A2A2A2;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}